@model HeadacheInvSystem.Models.Producto

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Delete</h1>
@if (ViewBag.AllowDelete)
{
    <div class="alert alert-danger" role="alert">
        ¿Estás seguro que quieres elimnar este producto?
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        Este elemento no se puede eliminar<br> Tiene datos relacionados en la tabla Kardex
    </div>
}
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoPrecioUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoPrecioUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.NombreCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductoId" />
        @if (ViewBag.AllowDelete)
        {
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        } |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
