@model IEnumerable<HeadacheInvSystem.Models.Producto>

@{
    ViewData["Title"] = "Índice Principal";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoPrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoPrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProductoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
