@model HeadacheInvSystem.Models.Kardex

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kardex</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entradas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entradas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salidas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Existencias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Existencias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoPromedio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoPromedio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Debe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Debe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Haber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Haber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.ProductoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KardexId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
